<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nickp.foodieandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/maria"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browse"
            android:label="Browse"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Restaurant"
            android:label="Restaurant"
            android:parentActivityName=".Browse">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Browse"/>
        </activity>
        <activity
            android:name=".User"
            android:label="User"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity
            android:name=".Inbox"
            android:label="Inbox"
            android:parentActivityName=".User">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User"/>
        </activity>
        <activity
            android:name=".Message"
            android:label="Message"
            android:parentActivityName=".Inbox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inbox"/>
        </activity>
        <activity
            android:name=".Like"
            android:label="Like"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAf6kyn8Y5iZwiqB40pHY8D8dVIKC_OJQM"/>
    </application>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

</manifest>